.card{
    width: 15vw;
}



@media (max-width:750px) {
    .card{
        width: 30vw;
    }
    .card *{
        font-size: 13px;
    }
    .card-body > a{
        padding: 2px;
        width: 100%;
    }

    
}