
.recaptcha{
    display: flex;
    justify-content: center;
    

}
.Login-Container{

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 156, 156);
}
.user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Login-Form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 30%;
    height: 60%;
    background-color: transparent;
    box-shadow: 5px 5px 8px #373636,-5px -5px 8px #c4c2c2;
    border-radius: 18px;
  
}
.Login-Form form{
    padding: 3rem 2rem;

}
.input-box{
    padding: 3rem 1rem ;
}
.Field{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

}
.Field input{
    background-color: transparent;
    box-shadow: inset 0.2rem 0.2rem 0.3rem rgb(101, 98, 98) , inset -0.2rem -0.2rem 0.3rem #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    
}
.Field input::placeholder{
color: #000;
    font-size: 1.3rem;
    font-weight: 700;
}
.user-icon .icon-container{
    width: 20%;
    height: 5rem;
    margin: auto;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 0.2rem 0.2rem 0.3rem rgb(101, 98, 98),
        inset -0.2rem -0.2rem 0.3rem #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
}

@media(max-width:968px){

  .Login-Form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      width: 50%;
      height: 60%;
      background-color: transparent;
      box-shadow: 5px 5px 8px #373636, -5px -5px 8px #c4c2c2;
      border-radius: 18px;

  }
}